.aapp {
    background: radial-gradient(rgba(255, 255, 255, 0.258) 0%, #42566c 350%), 
    url('https://images.unsplash.com/photo-1613266654520-c56e7f9e6e9f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.atop {
    position:relative;
    border-radius:15px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    padding:10vh;
    width:1000px;
    height:auto;
    margin: 10vh;
    color:rgba(0, 0, 0, 0.6);
    border: 1.5px solid rgba(255,255,255,0.25);
    backdrop-filter: blur(10px);
    background-color:rgba(255, 255, 255, 0.5);
    z-index:2;
  }
