body {
    font-family: "Varela Round", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
}

h1 {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 300;
    text-shadow: 5px 5px 10px rgba(163, 177, 198, 0.25),
        -5px -5px 15px rgba(255, 255, 255, 1);
}

h2 {
    font-size: 2.75rem;
    line-height: 2.75rem;
    font-weight: 300;
    text-shadow: 5px 5px 10px rgba(163, 177, 198, 0.25),
        -5px -5px 15px rgba(255, 255, 255, 1);
}

.about-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
}

.about-icon img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-icon img:hover {
    background-color: #f0f0f0;
}

.app {
    width: 100%;
    height: 100vh;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
}

.app:before {
    content: '';
    width: 100%;
    height: 100vh;
    background: radial-gradient(rgba(255, 255, 255, 0.258) 0%, #42566c 350%),
        url('V:\sem4\Web Prog\MiniProject\miniproject\github\weatherapp\public\teamt.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


input {
    border-radius: 7px;
    font-size: 1rem;
    font-family: 'Helvetica', cursive;
    border-style: none;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0.75em 1.5em;
    width: 900px;
    text-align: left;
    position: relative;
    /* margin-top:2em; */
    margin: 2em auto;
}

::placeholder {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
}

.container {
    height: 100vh;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.top-container {
    position: relative;
}

.top {
    position: relative;
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 1em;
    padding-top: 2em;
    width: 600px;
    height: 400px;
    color: rgba(0, 0, 0, 0.6);
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
}

.timebox {
    display: flex;
    flex-direction: center;
    text-align: center;
    padding: 1em 0.5em;
    gap: 1em;
    margin: 1rem auto;
}

.bottom {
    height: 15vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.78);
    backdrop-filter: blur(3px);
    display: flex;
    color: rgba(0, 0, 0, 0.6);
    justify-content: center;
}

.innerbot {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px 4px;
    width: 100%;
    max-width: 500px;
}

.bold {
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1),
        -2px -2px 4px rgba(255, 255, 255, 0.25);
}

.timefont {
    font-size: 1.25rem;
}

.small {
    font-size: 1rem;
    display: flex;
    gap: 0.25em;
    align-items: center;
    justify-content: center;
}

.des-and-icon {
    display: flex;
    gap: 0.5em;
    text-align: center;
    justify-content: center;

}

.weather-icon {
    margin-top: 6px;
}

@media only screen and (max-width: 550px) {
    h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    h2 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .innerbot {
        padding: 4px 24px 16px 24px;
    }

    .waves {
        bottom: 80px;
    }

    .small {
        font-size: 0.84rem;
    }

    .bold {
        font-size: 1.25rem;
    }

    .top {
        width: 280px;
        height: 280px;
    }

    p {
        font-size: 1.25rem;
    }

    .weather-icon {
        margin-top: 4px;
    }

    .bg-circle {
        width: 343px;
        height: 343px;
        top: -32px;
        left: -32px;
    }
}