.navbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000000;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
}

.nav-item {
    justify-content: center;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
}


