.navbar {
    position: fixed;
    right: 0;
    z-index: 10000000;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
}

.nav-item {
    justify-content: center;
    padding: 35px 20px;
    color: white;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    color: #ffdeca;
}
