.navbar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000000;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
}

.nav-item {
    justify-content: center;
    padding: 15px;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    color: #ffdeca;
}

.Anav-link {
    text-decoration: none;
    padding: 55px 5px;
    color: #ff9900;
}

.Anav-link:hover {
    color: #ffdeca;
}